<div class="span6 well slideMenu" id="about">
  <h1>About Paceliners</h1>
  <p>
    The cycling community is one of the biggest pulls for many cyclists, but it's often more difficult than it should be to find that community in some areas. In most cities you can find a weekly group ride hosted by a local club or bike shop, but only if you know where to look. 
    Unfortunately there's no good central place for this information.
  </p>
  <p>
    Enter Paceliners. We want to make it easier for someone who is new to an area, or just getting into the cycling community, to find their local group rides. If you're looking for a ride, just check out our <a href="/rides">FIND A RIDE</a> page for all the rides posted in your area. If you see a ride is missing, please <a href="/rides/add">ADD IT</a> so others can easily get involved.
  </p>
</div>