<div class="span2 well slideMenu" id="feedback">
  <ul>
    <li><a id="feedbackLink" class="btn btn-warning btn-large" href="mailto:paceliners@gmail.com?subject=Paceliners%20Site%20Feedback">Send Email</a></li>
    <li>
      <a href="https://twitter.com/intent/tweet?screen_name=paceliners" class="twitter-mention-button" data-size="large" data-related="paceliners,mike_mayo">Tweet to @paceliners</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </li>
  </ul>
</div>